<div class="container">
  <div class="row no-gutters">
    <div class="col-md-6 left-column">
      <img src="./login.jpg" alt="Background Image" class="img-fluid">
    </div>
    <div class="col-md-6 right-column">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">INICIA SESIÓN</h5>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmitButtonClicked()">
            <div class="form-group">
              <label for="inputEmail">CORREO</label>
              <input
                type="email"
                id="inputEmail"
                class="form-control"
                placeholder="Ingresa Correo"
                formControlName="username"
                [ngClass]="{ 'is-invalid': checkField(loginForm.get('username')) }"
              />
              <div *ngIf="checkField(loginForm.get('username'))" class="invalid-feedback">
                Ingresa un correo válido.
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword">Contraseña</label>
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Ingresa Contraseña"
                formControlName="password"
                [ngClass]="{ 'is-invalid': checkField(loginForm.get('password')) }"
              />
              <div *ngIf="checkField(loginForm.get('password'))" class="invalid-feedback">
                La contraseña debe tener al menos 6 caracteres.
              </div>
            </div>

            <div *ngIf="error" class="alert alert-danger">
              {{ error }}
            </div>

            <button
              type="submit"
              class="btn btn-primary btn-block"
              [disabled]="loginForm.invalid || processing"
            >
              {{ processing ? 'Validando...' : 'Ingresa' }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
