<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjectPath Pro</title>
    
    <!-- Enlace de Google Fonts -->
    <link rel="stylesheet" href="seccion-inicio.component.css">
</head>
<body>
    <section class="seccion-inicio"> <!-- Cambié 'header' a 'seccion1' -->
        <div class="logo-container">
            <h1 class="logo-text">ProjectPath <span>Pro</span></h1>
        </div>
        
    </section>
</body>
</html>
